Source: syspeek
Section: gnome
Priority: optional
Maintainer: Georg Schmidl <georg.schmidl@vicox.net>
Build-Depends: debhelper-compat (= 13),
  dh-python,
  python3,
  python3-setuptools,
  python3-gi <!nocheck>,
  gir1.2-gtk-3.0 <!nocheck>,
  gir1.2-appindicator3-0.1 <!nocheck>,
Standards-Version: 4.6.2
Homepage: https://github.com/vicox/syspeek

Package: syspeek
Architecture: all
Depends: ${misc:Depends},
  ${python3:Depends},
  python3-gi,
  gir1.2-gtk-3.0,
  gir1.2-appindicator3-0.1,
Recommends: gnome-system-monitor
Description: System monitor indicator.
 SysPeek is a system monitor indicator that displays
 CPU usage, memory usage, swap usage, disk usage
 and network traffic.
